body {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    background: radial-gradient( 
       hsl(30,80%,80%), 
       hsl(210,50%,70%) ) 
       no-repeat center;
   }

html,
body {
    height: 100%; 
}